.Header img {
    height: 90px;
}

.Header{
    text-align: center;
}

.Header nav{
    background-color: black;
    font-size: 23px;
    line-height: 70px;
}

nav a{
    color: white;
    padding: 20px;
    margin: 20px;
    text-decoration: none ;

}

nav a:hover{
    background-color: rgb(255, 145, 0);
}
